/*Unauthorized use prohibited
All rights reserved by kldhsh123, piracy will be investigated!*/
body {
  background-image: url(https://cdn.kldhsh.top/neko/NEKO.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
